* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
body {
  position: relative;
  width: 1536px;
  height: 750px;
  
  background: #3E3E3E;
}
.navbar {
  position: absolute;
  width: 1536px;
  height: 30px;
  left: 0px;
  top: 0px;

  background: #2B2B2B;
}

.container {
  position: absolute;
  width: 1200px;
  height: 98px;
  left: 168px;
  top: 70px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 77px;
  text-align: center;

  color: #FFFFFF;
  
}


.card {
  position: absolute;
  width: 1200px;
  height: 98px;
  left: -100px;
  top: 127px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 55px;
  text-align: center;

  color: #FFFFFF;

}

.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}